<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>Rättsäker Textanalys</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
    </div>
    <div class="row wallpaper-content pt-lg-6 pb-lg-6 pt-5">
      <div class="col-md-3 col-sm-0">
      </div>
      <div class="col-md-8 col-sm-12">
        <h1 class="text-uppercase text-center-md-left">Tack för ditt bidrag</h1>
      </div>
      <div class="col-md-3 col-sm-0">
      </div>
  </div>
</body>

</html>
