<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rättsäker Textanalys</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">

  <link rel="stylesheet" href="static/lib/bootstrap/bootstrap.css">
  <script src="static/lib/popper.js"</script>
  <script src="static/lib/bootstrap.js"</script>

  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
    </div>
    <div class="row wallpaper-content pt-lg-6 pb-lg-6 pt-5">
      <div class="col-md-3 col-sm-0">
      </div>
      <div class="col-md-8 col-sm-12">
        <h1 class="text-uppercase text-center-md-left">Rättsäker Textanalys</h1>
      </div>
      <div class="col-md-3 col-sm-0">
      </div>
      <div class="col-md-2 col-sm-0">
      </div>
      <div class="col-md-4 col-sm-12">
        <form action="/" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" id="fileToUpload">
          <input type="submit" value="Ladda Upp"  name="submit">
        </form>
      </div>
      <div class="col-md-2 col-sm-0">
      </div>
    </div>
  </div>
</body>

</html>
